/* FONTS */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato-v15-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v15-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/lato-v15-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v15-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/lato-v15-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v15-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
        url('../fonts/roboto-mono-v6-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-mono-v6-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-500 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
        url('../fonts/roboto-mono-v6-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-mono-v6-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* COLORES */

:root {
    --color-gris-fondo: #F4F4F4;
    --color-gris-claro: #E0E0E0;
    --color-gris-medio: #C4C4C4;
    --color-gris-oscuro: #737373;
    --color-azul: #39454E;
    --color-verde: #00CF9B;
    --color-verde-hover: rgb(0, 184, 138);
    --color-naranja: rgb(255, 112, 51);
    --color-naranja-hover: rgb(231, 101, 45);
    --color-celeste: rgb(110, 160, 226);
    --color-celeste-hover: rgb(94, 137, 194);
}


/* GLOBALES */

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


/* ROWS */

.row .menu, .instrucciones {
    height: 100vh;
}

.row .titulo {
    height: 10vh;
}

.row .descripcion {
    height: 10vh;
}

.row .cuerpo {
    height: 50vh;
}

.row .footer {
    height: 30vh;
}


/* TITULO PRINCIPAL */

.titulo h1 {
    font-size: .9rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 10vh;
    color: var(--color-gris-medio)
}


/* DESCRIPCIONES */

.descripcion h2 {
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--color-azul);
    margin: 0;
}

.descripcion h5 {
    font-size: .9rem;
    color: var(--color-gris-medio);
    font-weight: 500;
}


/* CUERPO */

.textarea {
    height: 100%;
    border-radius: .25rem;
    background-color: var(--color-gris-fondo);
}

.textarea textarea {
    font-family: 'Roboto Mono', Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 93%;
    width: 100%;
    display: block;
    resize: none;
    color: var(--color-gris-oscuro);
    background-color: transparent;
    border: none;
    font-size: .8rem;
    font-weight: 400;
}

.textarea .contador {
    height: 7%;
    width: 100%;
    background-color: var(--color-gris-medio);
    color: var(--color-gris-oscuro);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.textarea .contador span {
    font-family: 'Roboto Mono', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 500;
}

.contenedor-inputs .input-text {
    background-color: #fff;
    border: 1px solid var(--color-gris-medio);
    font-size: .95rem;
}

div.contenedor-flecha i {
    color: var(--color-verde);
}


/* BOTONES */

.btn-primary {
    background-color: var(--color-verde);
    border: var(--color-verde);
    font-weight: 600;
}

.btn-primary:hover {
    background: var(--color-verde-hover);
}

.btn-primary:active {
    background: var(--color-verde-hover);
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--color-verde-hover);
    border-color: var(--color-verde-hover);
}

.btn-primary span {
    position: absolute
}

.btn-secondary {
    background-color: var(--color-celeste);
    width: 100%;
    border: red;
}

.btn-secondary:hover {
    background-color: var(--color-celeste-hover);
}

.procesar {
    height: 14vh;
    width: 100%;
    font-size: 1.1rem;
}

/* MENU */

.menu, .instrucciones {
    padding-top: 10vh;
    background-color: var(--color-gris-fondo);
    color: var(--color-gris-oscuro);
}

.menu h3, .instrucciones h3 {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1.1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    font-size: .9rem;
}

.menu li, .instrucciones li {
    padding: .2rem 0;
}

.menu ul li a {
    color: var(--color-gris-oscuro);
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--color-verde)!important;
    font-weight: 600;
}

.activo {
    font-weight: 600;
}

.activo::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    color: var(--color-verde);
    margin-right: 3px;
}

/* INSTRUCCIONES */

.instrucciones {
    left: -16.666667%;
    padding: 10vh 0;
    overflow: hidden;
    font-size: .95rem;
    transition: .3s ease-in-out left;
}

.instrucciones:hover {
    left: 0;
}

.instrucciones ol {
    padding: 0;
}

/* INPUTS */

/* Customize the label (the container) */
.container-check {
    display: block;
    position: relative;
    text-align: center;
    padding: 2px 6px;
    color: var(--color-verde);
    font-weight: 600;
    font-size: .9rem;
    border: 1px solid var(--color-verde);
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Popper */
  #popup {
    font-size: .9rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
    color: var(--color-gris-oscuro);
  }

  #popup i {
      color: var(--color-naranja);
  }